* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 60px;
    color: #000000;
}

a {
    color: #ffffff;
    padding: 6px;
}

p {
    font-size: 19px;
    color: #000000;
}

img {
    max-width: 165px;
    max-height: 165px;
}

.column {
    float: left;
    padding: 1%;
}



.resume-content {
    padding: 20px;
}


li {
    padding: 10px;
    font-size: 18px;
}