* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 40px;
    color: #ffffff;
}

a {
    color: #ffffff;
    padding: 2px;
}

p {
    font-size: 19px;
    color: #000000;
}

.avatar {
    border-radius: 200px;
    background: #d8e1fe;
}

img {
    max-width: 165px;
    max-height: 165px;
}

.row {
    display: flex;
}

.column {
    float: left;
    padding: 1%;
}

.left {
    width: 10%;
    font-size: 16px;
}

.right {
    width: 90%;
    color:#000000;
    background-color: #ffffff;
    font-size: 20px;
    padding: 100x;
}

.resume-content {
    padding: 60px;
}


li {
    padding: 10px;
    font-size: 18px;
}